.App {
  text-align: center;
  /* background-color: rgb(236, 236, 236); */
  height: 100vh;
}

.app-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 250);
   height: max-content;
   z-index: 100;
}

.bar-left{
  font-size: 30px;
 font-family: Roboto;
}
.bar-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.card{
  width: 100%;
  /* background-color: rgb(236, 236, 236); */
}
/* .left-about,.right-about{
  /* background-color:rgb(236, 236, 236) ;
} */
.right-about{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.left-about{
  width: 100%;
}
.about-hi{
  font-size: 30px;
  color:rgb(116, 114, 114) ;
}
.about-name{
  font-size: 35px;
}
.about-flstack{
  font-size: 28px;
  color:rgb(116, 114, 114) ;
}
.about-content{
  color:rgb(116, 114, 114) ;
  font-size:23px;
}
.img-about{
  height: 50%;
  background-color: inherit;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
 .skill-list{
   padding: 10px;
  background-color: rgb(221, 227, 241);
  padding-top: 40px;
} 
.skill-title{
  font-size: 60px;
  color: rgb(160, 172, 201);
  text-shadow: 3px 3px 10px #6b7a99 ;
}
.skill-body{
  display: flex;
  flex-direction: row;
}
.skill-body-left{
  margin: auto;
  border-radius: 20%;
}
.skill-img{
  border-radius: 10%;
}
.skill-layout{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.skill-logo{
  padding: 3px;
  object-fit: contain;
 max-height: 10rem;
  max-width: 10rem;
}
.skill-right{
  padding: 10px;
}
.range-container{
  height:35px;
  width:100vh;
  background-color:rgb(213 209 209);
}
.range{
  height:100%;
   background-color:#b3c4f3;
}
.range-container,.range{
  border-radius: 15px;
  object-fit: cover;
}
 .projects{
  padding: 20px;
  background-color:rgb(230, 247, 241) ;
  padding-top: 90px;
}
.project-title{
  font-size: 60px;
  color: rgb(126, 212, 185);
  text-shadow: 3px 3px 10px #88a7c7 ;
}

.project-layout{
  padding: 50px;
}
.relative{
  position: relative;
  background-color: rgb(207, 247, 234);
  border-radius: 20px;
  object-fit:contain;
  width: 30%;
  padding: 25px;
  border: 10px;
  font-size: 26px;
  box-shadow: 2px 2px 10px 3px #A1D0FF;
  color:rgb(83, 145, 136);
}
.absolute{
  position: absolute;
  background-color:rgb(201, 245, 230); 
  width: auto;
  padding: 10px;
  height: max-content;
  margin-left: 370px;
  margin-top: -8%;
  border-radius: 20px;
  object-fit:contain;
  font-size: 23px;
  box-shadow: 2px 2px 10px 3px #A1D0FF;
  color:rgb(97, 155, 145);
}

.relative:hover,.absolute:hover{
  transform: scale(1.02);
}
.achivements{
  padding: 10px;
  background-color: rgb(255, 229, 205);
}
.achivements-title{
  color: rgb(252, 210, 172);
  font-size: 60px;
  text-shadow: 3px 3px 10px #f18d74 ;
}
.achivements-body{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.right-ahivement{
  padding: 10px;
  font-size: 23px;
  color: #f18d74;
  box-shadow: 2px 2px 5px 2px #f18d74;
  flex-grow: 1;
  width: min-content;
}
.left-achivement-pic{
  margin: auto;
  flex-grow: 1;
}