.App {
  text-align: center;
  background-color: rgb(236, 236, 236);
  height: 100vh;
}

.app-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  
}

.bar-left{
  font-size: 30px;
 font-family: Roboto;
}
.bar-right{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: auto;
  padding-top: 10rem;
}
.left-about,.right-about{
  height: 100vh;
  background-color:rgb(236, 236, 236) ;
}
 .skill-list{
   margin: 5rem;
  display: grid;
  grid-template-columns: auto auto;
} 
.skill-layout{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.skill-logo{
  padding: 3px;
  object-fit: contain;
 max-height: 10rem;
  max-width: 10rem;
}
.range{
  width: 100%;
}


